<files wp-config.php>
	order allow,deny
	deny from all
	Options All -Indexes
</files>
<Files wp-login.php>
	order deny,allow
	Deny from all
	# allow access from my IP address
	allow from 192.168.0.94
</Files>
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /creablog-dev/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /creablog-dev/index.php [L]
</IfModule>

# END WordPress
